


* {
    box-sizing: border-box;
}
.spahe {
    background-color: #eee;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
    margin-top:10% ;

}

.spahe > div {
    background-color: rgba(255, 0, 0, 0.349);
    width: 90%;
    height: 90%;

    font-size: 30px;
    font-weight: bold;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5%;
    margin-left: 5%;

    transition: .5s;

    transform: translate(-100px , -100px );
}



