

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: repeat(6 , 1fr);
    gap: 10px 10px;
}


.grid div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 255, 0.849);
    font-size: 30px;
    font-weight: bold;
    
}

.one {
    grid-column: 1 / 11;
    grid-row: 6 / 7;
}

.two {
    grid-column: 1 / 8;
}

.three {
    grid-column: 8 / 11;

}

.four {
    grid-column: 1 / 4;
}

.five {
    grid-column: 4 / 11;
    grid-row: 3/6;
}


.six {
    grid-column: 1 / 4;
}

.seven {
    grid-column: 1 / 4;
}



.eight {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
}