body {
    background-color: red;
}
.page {
    background-color: blue;
}
.entete {
    background-color: pink;
}
.menu {
    background-color: greenyellow;
}
.contenu {
    background-color: yellow;
}
.pieddepage {
    background-color: purple;
}