
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;

    display: grid;
    grid-template-columns: auto 1fr 1fr auto ;
    grid-template-rows: 1fr auto;
    gap: 10px 10px;
}

.grid div {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(131, 124, 124);

    display: flex;
    align-items: center;
    justify-content: center;
}
