

/*
    - grayscale(100%) ---> nblanc et noir
    - blur() --> en peu flou 
    - invert() ---> inverse les cols de l'image 

*/

* {
    box-sizing: border-box;
}




img {
    transition: 0.3s;
    filter: grayscale(100%);
    /* filter: blur(1px); */
    /* filter: invert(100%); */
}


img:hover {
    filter: grayscale(0);
    /* filter: blur(0); */
    /* filter: invert(0); */

    /* filter: ; */
}

p {
    transition: 0.3s;
    /* filter: grayscale(100%); */
    filter: blur(1px);
    /* filter: invert(100%); */
}


p:hover {
    /* filter: grayscale(0); */
    filter: blur(0);
    /* filter: invert(0); */

    /* filter: ; */
}

