
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translate(-50% , -50%);


    animation-name: change-color;
    animation-duration: 3s;

    /* animation-timing-function: ease; */
    /* animation-iteration-count: infinite; */
    /* animation-delay: 3s; */



}

@keyframes change-color {
    0% {
        background-color: green;
    }

    25% {
        background-color: #3498db;

    }

    50% {
    background-color:  #ddd;
    }

    100% {
        background-color: blue;
    }
}




.bouncing-box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}