
/* ------------------- règles générales ---------------- */
* {
    margin: 0;
    padding: 0;
}

html ,
body {
    font-family: 'Open Sans', sans-serif;
}


a {
    text-decoration: none;
        
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px ;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px ;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px ;
}

.container {
    padding: 10px;
}



/* --------------------------- Mise en forme de haeder ------------------------ */


.header {
    padding: 20px;
    background-color: #333;
    overflow: hidden;
    color: white;
    /* width: 100%; */
}

.header h1 {
    /* float vers left */
    float: left;

    /* mis en forme de text */
    text-transform: uppercase;
    text-align: center;
    /* color: white; */


}



.header nav ul {
    list-style: none;
    float: right;


}

.header nav ul li {

    /* float left */
    float: left;
    
    /* margin entre les li */
    /* border: 1px solid red; */
    outline: none;
    margin-left: 10px;
    margin-right: 10px;

}


.header a {
    /* color */
    color: white;
}

/* --------------------------- Mise en forme de section1 ------------------------ */



.sec1-title {
    display: 	block;
    margin: 20px auto;
    font-size: 50px;
    font-weight: 400;
    /* width: 200px; */
    /* height: 100px; */
    text-align: center;
    /* white-space: ; */
}

.line-noir {
    background-color: black;
    height: 10px;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.sec-1 .container {
    
}
.sec-1 {
    display: block;
    height: 700px;
    width: 100%;
    text-align: center;
    background: url("../images/img1.jpg")   ;
    background-size: cover;
    color: white;
}

.sec-1 p {
    margin: 20px;
}

.sec-1 button {
    display: block;
    margin: 20px auto;
    border: none;
    outline: none;
    width: 40%;
    height: 50px;
    border-radius: 40px;
    color: black;

}

.sec-1 button:hover  {
    background-color: #333;
    color: white;
}

.sec-1 button a {
    color: inherit;
    font-weight: bold;
    font-size: 15px;
}

