
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , auto);
    gap: 10px 10px;
    justify-content: flex-start;
    align-content: space-between;
}


.grid div {
    
    
    /* --------- style text ------------ */
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: palevioletred;
    
    
    /* -------- position ------- */
    display: flex;
    align-items: center;
    justify-content: center;

}