* {
    box-sizing: border-box;
    
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: #607D8B;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-bottom: 10px black solid;
    padding-left: 10px;

}

div::before {
    content: "Elzero";
    z-index: 1;

}

div::after {
    content: '';
    width: 68%;
    height: 71%;
    background-color: black;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%) translateY(-50%)  rotate(45deg);
    border-right: 5px white solid;
    border-bottom: 5px white solid;

}

